<% articles.each do |article| %>
<%# ページの管理者ならば全て、そうでなければ公開に設定されている記事のみを表示 %>
<% if article.accessible?(current_user) %>
<div class="card">
    <%= link_to(article_path(article.id)) do %>
    <div class="card-header">
        <div class="image">
            <% if article.image.attached? %>
            <%= image_tag article.image.variant(combine_options: {auto_orient: true, gravity: "center", resize: "1000x200^", crop: "1000x200+0+0"}) %>
            <% end %>
        </div>
        <h3 class="title"><%= article.title %></h3>
    </div>

    <div class="card-body">
        <p class="content">
            <%= article.content %>
        </p>
    </div>
    <% end %>

    <div class="card-footer">
        <div class="article-list-menu">
            <%# 記事作成者にのみ編集と削除のリンクを表示%>
            <% if article.write_by?(current_user) %>
            <%= link_to((I18n.t "edit"), edit_article_path(article.id)) %> &nbsp;
            <%= link_to((I18n.t "delete"), article_path(article.id), method: :delete, data: { confirm: (I18n.t "Do_you_want_to_delete_it?") }) %>
            <% end %>
        </div>
        <div class="article-list-info">
            <span>
                created: <%= article.created_at %> &nbsp;
                updated: <%= article.updated_at%> &nbsp;
                Comment(<%= article.comments.count %>)
            </span>
        </div>
    </div>
</div>
<% end %>
<% end %>
<%= paginate @articles %>