<p>これ is edit画面</p>
<%= form_with model: @article, url:"/articles/#{@article.id}", method: :patch do |form| %>
  <p>タイトル</p>
  <%= form.text_field :title %>
  <p>本文</p>
  <%= form.text_area :content %>
  <p>公開する</p>
  <%= form.check_box :open_flg %>
  <%= form.submit %>
<% end %>
