<div class="heading">
    <h3>Edit Article</h3>
</div>

<% @article.errors.full_messages.each do |message| %>
<div class="alert alert-danger mx-auto" role="alert">
    <%= message %>
</div>
<% end %>

<%= form_with model: @article, url: article_path(@article.id), local: true, method: :patch, class: "form-group" do |form| %>
<div class="write-form mx-auto">
    <p>タイトル</p>
    <%= form.text_field :title, value: @title, class: "form-control" %>
</div>
<div class="write-form mx-auto">
    <p>本文</p>
    <%= form.text_area :content, value: @content, class: "form-control", rows: 10 %>
</div>
<div class="mx-auto">
    <p>公開設定</p>
    <p><span><%= form.radio_button :status, "open" %>&nbsp; 公開</span></p>
    <p><%= form.radio_button :status, "not_open" %> &nbsp; 非公開</p>
</div>
<div id="submit" class="mx-auto">
    <%= form.submit "編集する", class: "form-control"%>
</div>
<% end %>