<div class="heading">
  <h3>
    <%= page_owner_display(@user) %>
  </h3>
</div>
<div class="search">
  <div class="search-header">
    <h4 class="mx-auto">＋&nbsp;<%= t(".search") %>&nbsp;＋</h4>
  </div>
  <div class="search-item">
    <%= search_form_for(@search, url: user_page_path(@user.username), remote: true) do |form| %>
    <div class="search-form mx-auto">
      <p><%= t(".title_search") %></p>
      <p><%= form.search_field(:title_cont, class: "form-control") %></p>
      <p><%= t(".date_search") %></p>
      <p>
        <%= form.text_field(:created_at_gteq, class: "date-picker form-control", autocomplete: "off") %>
        〜
        <%= form.text_field(:created_at_lteq, class: "date-picker form-control", autocomplete: "off") %>
      </p>
    </div>
    <div class="submit reset_button actions mx-auto">
      <%= form.button((t(".clear")), type: :button, id: "clear-button", class: "form-control") %>
    </div>
    <% end %>
  </div>
</div>

<div id="search-result">
  <%= render(partial: 'search_result', locals: { articles: @articles }) %>
</div>