<div class="heading">
  <h3>
    <% if ! current_user %>
    <%= @user.username %>のページ</h2>
    <% elsif @user.id == current_user.id %>
    My page
    <% else %>
    <%= @user.username %>のページ</h2>
    <% end %>
  </h3>
</div>

<% @articles.each do |article| %>
<% if article.accessible?(current_user) %>
<div class="card">
  <%= link_to(article_path(article.id)) do %>
  <div class="card-header">
    <h3 class="title"><%= article.title %></h3>
  </div>
  <%# 長い本文は途中までしか表示しない %>
  <div class="card-body">
    <p class="content">
      <% if article.content.size <= 150 %>
      <%= article.content%>
      <% else %>
      <%= article.content.slice(0, 150) + "..."%>
      <% end %>
    </p>
    <% end %>
  </div>
  <div class="card-footer">
    <div class="article-list-menu">
      <% if article.author?(current_user) %>
      <%= link_to("編集", edit_article_path(article.id)) %> &nbsp;
      <%= link_to("削除", article_path(article.id), method: :delete) %>
      <% end %>
    </div>
    <div class="article-list-info">
      <span>
        created: <%= article.created_at.strftime("%Y-%m-%d %H:%M") %> &nbsp;
        updated: <%= article.updated_at.strftime("%Y-%m-%d %H:%M")%> &nbsp;
        Comment(<%= article.comment_num %>)
      </span>
    </div>
  </div>
</div>
<% end %>
<% end %>
<%= paginate @articles %>