<div class="container">
  <h1>
    <% if @user.id == current_user.id %>
    My page
    <% else %>
    <%= @user.username %>'s page</h2>
    <% end %>

    <% @articles.each do |article| %>
    <% if @author_flg || article.status == 10 %>
    <div class="card">
      <%= link_to(article_path(article.id)) do %>
      <div class="card-header">
        <h3 class="title"><%= article.title %></h3>
      </div>
      <%# 長い本文は途中までしか表示しない %>
      <div class="card-body">
      <p class="content">
        <% if article.content.size <= 150 %>
        <%= article.content%>
        <% else %>
        <%= article.content.slice(0, 150) + "..."%>
        <% end %>
      </p>
      <% end %>
      </div>
      <div class="card-footer">
      <div class="article-list-menu">
      <% if @author_flg %>
        <%= link_to("Edit", edit_article_path(article.id)) %>
        <%= link_to("Delete", article_path(article.id), method: :delete) %>
        <% end %>
      </div>
      <div class="article-list-info">
      <span>
      created: <%= article.created_at.strftime("%Y-%m-%d %H:%M") %> &nbsp;
      updated: <%= article.updated_at.strftime("%Y-%m-%d %H:%M")%> &nbsp;
      Comment(<%= article.get_comment_num %>)
      </span>
      </div>
      </div>
    </div>
    <% end %>
    <% end %>
</div>