<div class="heading">
  <h3>
    <%= page_owner_display(@user) %>
  </h3>
</div>
<div class="search">
  <div class="search-header">
    <h4 class="mx-auto">+&nbsp;検索&nbsp;+</h4>
  </div>
  <div class="search-item">
    <%= search_form_for(@search, url: user_page_path(@user.username)) do |form| %>
    <div class="serach-form mx-auto">
      <p>タイトル検索</p>
      <p><%= form.search_field(:title_cont, class: "form-control") %></p>
      <p>日付検索</p>
      <p>
        <%= form.text_field(:created_at_gteq, class: "date-picker form-control", autocomplete: "off") %>
        〜
        <%= form.text_field(:created_at_lteq, class: "date-picker form-control", autocomplete: "off") %>
      </p>
    </div>
    <div class="submit actions mx-auto"><%= form.submit("検索", class: "form-control") %></div>
    <div class="submit reset_button actions mx-auto">
      <%= form.button "クリア", type: :button, id: "clear-form", class: "form-control" %>
    </div>
    <% end %>
  </div>
</div>


<% @articles.each do |article| %>
<% if article.accessible?(current_user) %>
<div class="card">
  <%= link_to(article_path(article.id)) do %>
  <div class="card-header">
    <div class="image">
      <% if article.image.attached? %>
      <%= image_tag article.image.variant(combine_options: {auto_orient: true, gravity: "center", resize: "1000x200^", crop: "1000x200+0+0"}) %>
      <% end %>
    </div>
    <h3 class="title"><%= article.title %></h3>
  </div>

  <div class="card-body">
    <p class="content">
      <%# 長い本文は途中までしか表示しない %>
      <%= shrink_content(article.content) %>
    </p>
  </div>
  <% end %>

  <div class="card-footer">
    <div class="article-list-menu">
      <% if article.author?(current_user) %>
      <%= link_to("編集", edit_article_path(article.id)) %> &nbsp;
      <%= link_to("削除", article_path(article.id), method: :delete, data: { confirm: '削除しますか？' }) %>
      <% end %>
    </div>
    <div class="article-list-info">
      <span>
        created: <%= article.created_at.strftime("%Y-%m-%d %H:%M") %> &nbsp;
        updated: <%= article.updated_at.strftime("%Y-%m-%d %H:%M")%> &nbsp;
        Comment(<%= article.comments.count %>)
      </span>
    </div>
  </div>
</div>
<% end %>
<% end %>
<%= paginate @articles %>