<%= render(partial: "layouts/error_messages", locals: {object: @article}) %>

<div class="heading">
   <h3>Write Article</h3>
</div>

<%= form_with(model: @article, url: articles_path, local: true, class: "form-group") do |form| %>
<%= render(partial: "write_form", locals: {form: form}) %>

<%# 予約投稿機能 %>
<div class="write-form mx-auto">
   <p><%= form.radio_button(:status, "reserved") %> &nbsp; <%= t(".reservation_post") %></p>
   <p><%= t(".reservation_post_message") %></p>
   <%# date_time_picker %>
   <div id="my-date-time-picker" class="input-group mx-auto" data-target-input="nearest">
      <%= form.text_field(:post_reservation_at, id: "created_at", class: "form-control datepicker",
       data: { target: '#created_at'}, disabled: true) %>
      <div class="input-group-append" data-target="#created_at" data-toggle="datetimepicker">
         <div id="my-date-time-picker-icon" class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
   </div>
</div>

<div class="submit mx-auto">
   <%= form.submit((t".do_create"), class: "form-control")%>
</div>
<% end %>