<h1>Write Article</h1>
<%= form_with model: @article, url: articles_path do |form| %>
<p>タイトル</p>
<%= form.text_field :title %>
<p>本文</p>
<%= form.text_area :content %>
<p>公開 <%= form.radio_button :status, 10 %> </p>
<p>非公開 <%= form.radio_button :status, 20 %> </p>
<%= form.submit %>
<% end %>