<div class="image">
  <% if @article.image.attached? %>
  <%= image_tag @article.image.variant(combine_options: {auto_orient: true, gravity: "center", resize: "1200x100^", crop: "1200x300+0+0"}) %>
  <% end %>
</div>
<div class="heading">
  <h3><%= @article.title %></h3>
</div>

<div id="content">
  <%= simple_format(@article.content) %>
</div>

<div class="heading">
  <h3>Comments</h3>
</div>

<% if user_signed_in? %>
<%= form_with model: [@article, @article.comments.build], local: true, class: "form-group" do |form| %>

<div class="comment-form mx-auto">
  <%= form.text_area :content, class: "form-control" %>
</div>
<div class="submit mx-auto">
  <%= form.submit "投稿する", class: "form-control" %>
</div>
<% end %>
<% else %>
<p>コメントの投稿にはログインが必要です。</p>
<% end %>

<% @comments.each_with_index do |comment, i| %>
<div id="comment" class="card">
  <div data-comment="<%= comment.id %>">
    <div class="card-header">
      <%= link_to(comment.user.username, user_page_path(comment.user.username)) %>
    </div>
    <div class="card-body">
      <%= comment.content %>
    </div>
    <div class="card-footer clearfix">
      <div class="comment-menu">
        <% if comment.poster?(current_user) %>
        <%= link_to("編集", edit_article_comment_path(@article.id, comment.id), remote: true) %> &nbsp;
        <% end %>
        <% if comment.deletable?(current_user) %>
        <%= link_to("削除", article_comment_path(@article.id, comment.id), method: :delete, data: { confirm: '削除しますか？' }) %>
        <% end %>
      </div>
      <div class="comment-info">
        updated: <%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
    </div>
  </div>
</div>
<% end %>