<div class="container">
  <div class="article">
    <h3 class="title"><%= @article.title %></p>
    <p ><%= simple_format(@article.content) %></p>
  </div>
  <% if @current_user %>
    <%= form_with model: [@article, @article.comments.build] do |form| %>
      <p>コメント</p>
      <%= form.text_field :content %>
      <%= form.submit %>
    <% end %>
    <% @comments.each do |comment| %>
      <p>
        <%= comment.content %>
        <% if comment.deletable?(@current_user) %>
          <%= link_to("削除",comment_delete_path(comment.id), method: :delete) %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    <p>コメントするならログインしてください！</p>
  <% end %>
</div>

