<p>これ is ログインフォーム</p>
<% if @error_message %>
<%= @error_message %>
<% end %>
<%= form_with model: @user do |form| %>
  <p>ユーザー名</p>
  <%= form.text_field :username %>
  <p>パスワード</p>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>