<div class="container">
  <h1>
      <% if @user.id == @current_user.id %>
        My page
      <% else %>
        <%= @user.username %>'s page</h2>
      <% end %>

  <% @articles.each do |article| %>
  　<% if @author_flg || article.status == 10 %>
      <div class="article box17">
        <%= link_to("/articles/#{article.id}") do %>
          <h3 class="title"><%= article.title %></h3>
          <!-- 長い本文は途中までしか表示しない -->
          <p class="content">
            <% if article.content.size <= 150 %>
              <%= article.content%>
            <% else %>
              <%= article.content.slice(0, 150) + "..."%>
            <% end %>
          </p>
        <% end %>
        
          <div class="article_menus">
            <% if @author_flg %>
              <%= link_to("Edit", "/articles/#{article.id}/edit") %>
              <%= link_to("Delete", "/articles/#{article.id}", method: :delete) %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>