<p>これ is ユーザのページ</p>
<% @articles.each do |article| %>
　<% if @author_flg || article.open_flg %>
    <div>
        <p><%= article.title %></p>
        <p><%= article.content.slice(0, 10) + "..."%></p>
        <%= link_to("続きを読む", "/articles/#{article.id}")%>
        <% if @author_flg %>
        <%= link_to("編集", "/articles/#{article.id}/edit") %>
        <%= link_to("削除", "/articles/#{article.id}", method: :delete) %>
        <% end %>
    </div>
  <% end %>
  
<% end %>