<div class="container">
  <% @articles.each do |article| %>
  　<% if @author_flg || article.open_flg %>
      <div class="article box17">
          <h3 class="title"><%= article.title %></h3>
          <p class="content">
            <% if article.content.size <= 150 %>
              <%= article.content%>
            <% else %>
              <%= article.content.slice(0, 150) + "..."%>
            <% end %>
          </p>
          <div class="article_menus">
            <% if @author_flg %>
              <%= link_to("Edit", "/articles/#{article.id}/edit") %>
              <%= link_to("Delete", "/articles/#{article.id}", method: :delete) %>
            <% end %>
            <%= link_to("More", "/articles/#{article.id}")%>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

