<div id="heading">
  <h3>Reset your password</h3>
</div>

<% @user.errors.full_messages.each do |message| %>
<div class="alert alert-danger" role="alert">
  <%= message %>
</div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form-group") do |f| %>
<%= f.hidden_field :reset_password_token %>

<div class="field mx-auto">
  <p>新しいパスワード（10文字以上）</p>
  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
</div>

<div class="field mx-auto">
  <p>新しいパスワード（確認）</p>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
</div>

<div id="submit" class="actions mx-auto">
  <%= f.submit "パスワードを再設定", class: "form-control" %>
</div>
<% end %>
