<% @user.errors.full_messages.each do |message| %>
<div class="alert alert-danger mx-auto" role="alert">
  <%= message %>
</div>
<% end %>

<div class="heading">
  <h3>Reset your password</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: "form-group") do |f| %>
<%= f.hidden_field :reset_password_token %>

<div class="field mx-auto">
  <p><%= I18n.t "new_password" %></p>
  <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
</div>

<div class="field mx-auto">
  <p><%= I18n.t "new_password_confirmation" %></p>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
</div>

<div class="submit actions mx-auto">
  <%= f.submit (I18n.t "do_reset_password"), class: "form-control" %>
</div>
<% end %>