<%= render partial: "layouts/error_messages", locals: {object: @user} %>
<div class="heading">
  <h3><%= I18n.t "send_email_form_for_password_reset" %></h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "form-group") do |f| %>
<div class="field mx-auto">
  <p><%= I18n.t "email" %></p>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
</div>

<div class="submit actions mx-auto">
  <%= f.submit (I18n.t "send_email_for_reset"), class: "form-control" %>
</div>
<% end %>