<h2>パスワード再設定用メール送信フォーム</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p>メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "メールを送信" %>
  </div>
<% end %>

<p><%= link_to("ログイン", new_user_session_path) %></p>
<p><%= link_to("サインアップ", new_user_registration_path) %></p>
