<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <p>ユーザーネーム</p>
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <p>パスワード</p>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p><%= link_to("サインアップ", new_user_registration_path) %></p>
<p><%= link_to("パスワードを忘れた方はこちら", new_user_password_path) %></p>
