<!DOCTYPE html>
<html>

<head>
  <title>BlogSystem</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1 id="logo">BlogSystem</h1>
    <ul class="header-info">
      <li>
        総ユーザー数:<%= @statistic.user_count %>
      </li>
      <li>
        総記事数:<%= @statistic.article_count %>
      </li>
      <li>
        総コメント数:<%= @statistic.comment_count %>
      </li>
    </ul>
    <ul class="header-menus">
      <% if user_signed_in? %>
      <li>
        <%= link_to("Logout", destroy_user_session_path, {method: :delete}) %>
      </li>
      <li>
        <%= link_to("Write", new_article_path) %>
      </li>
      <li>
        <%= link_to(current_user.username, user_page_path(current_user.username)) %>
      </li>
      <% else %>
      <li>
        <%= link_to("Login", new_user_session_path) %>
      </li>
      <li>
        <%=  link_to("Signup", new_user_registration_path) %>
      </li>
      <% end %>
    </ul>
    <div class="clearfix"></div>
  </header>

  <% if alert || flash[:error] %>
  <div class="alert alert-danger mx-auto" role="alert">
    <span class="alert"><%= alert %></span>
    <%= flash[:error] %>
  </div>
  <% end %>

  <% if flash[:notice] %>
  <div class="alert alert-success mx-auto" role="alert">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>

</html>